---
title: "Series"
layout: "layouts/page.njk"
permalink: /Series/
eleventyNavigation:
  key: Series
  order: 4
---
<h2>Tags</h2>

{# {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %} #}


{%- if collections.tagList -%}
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
{%- endif -%}
